.font{
  font-family: "microsoft yahei", Arial;
  font-weight: 900;
  font-style: italic;
  font-variant: small-caps;
}
.font span{
  font-weight: 400;
}

.d2{
  width: 200px;
  /* height: 200px; */
  border: 1px solid #000;
  padding:40px 0px;
  /* 多行文本,可以拉大行间距 */
  line-height: 40px;
}
table{
  border: 1px solid #000;
  border-collapse: collapse;
}
td{
  border: 1px solid #000;
}